@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2774d4;
}
.container{
    width: 500px;
    background: #fff;
    border-radius: 8px;
    padding: 20px 25px 15px;
}
header h2{
    font-size: 28px;
    font-weight: 500;
}
header p{
    font-size: 18px;
    margin-top: 5px;
}
form{
    margin: 20px 0 28px;
}
form input{
    width: 100%;
    height: 50px;
    font-size: 18px;
    outline: none;
    padding: 0 18px;
    border: 1px solid #aaa;
    border-radius: 5px;
}
form button{
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background: #2774d4;
    font-size: 18px;
    padding: 15px 0;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.6;
    pointer-events: none;
}
form input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}